* {
    font-family: Cambria;
    background-color: rgb(11, 31, 73);
    font-size: large;
}

h1 {
    text-decoration: underline;
    width: bold;
    font-size: 30px;
}

body {
    display: grid;
    color: white;
    justify-content: center;
    align-content: center;
    justify-items: center;

}

.formul {
    display: grid;
    margin: 5%;
    color: white;
    background-color: rgb(252, 255, 254);
    justify-content: center;
    border-style:solid;
    border-radius: 2%;
    border-color: rgba(12, 149, 173, 0.856);

} 

.formul input {
    background-color: rgb(176, 222, 248);
    
}

.formul button {
    display: block;
    background-color: rgb(246, 246, 247);
    margin-top: 10%;
    
}

.formul label {
    display: block;
    font-size: larger;
    margin-bottom: 10%;
    justify-items: center;

        
}

.resultado {
    display: grid;
    justify-items: center;
    align-content: center;
    
}


.botones {
    display: flex;
    justify-content: space-between;
}



